﻿@using TestTask.Models.ViewModel
@using TestTask.Models
@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>List Of Orders</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" class="btn btn-info btn-md">Create New</a>
    }
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Username)
                </td>

                <td>
                @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-danger btn-md" asp-action="Delete" asp-route-id="@order.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
